__pycache__/
saved_model/
results/
result/
data/
stanford-ner-2015-04-20/
src/model/stanford-ner-2015-04-20/
src/model/stanford-postagger-full-2020-11-17/
.idea/
.spyderproject/
.spyproject/
configs/device_path.yaml
configs/settings.yaml
data/

**/stanford-ner-2015-04-20/
**/stanford-postagger-full-2020-11-17/
**/best_model_bert-base-uncased/

**/__pycache__/
**/saved_model/
**/.idea/
**/.spyderproject/
**/.spyproject/

project.sif
*.sif
*.swp
*.swo
